     <!-- Nav Item - Messages -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="@Url.Action("Index","Contact")">
        <i class="fas fa-envelope fa-fw fa-2x"></i> 
          </a>  
</li>
