<div class="list-group">
    <a href="@Url.Action("Create","Contact")" class="list-group-item list-group-item-action">
        Mesaj Gönder
    </a>
    <a href="@Url.Action("Index","Contact")" class="list-group-item list-group-item-action">Gelen Mesajlar</a>
    <a href="@Url.Action("SentMails","Contact")" class="list-group-item list-group-item-action">Gönderilen Mesajlar</a>
</div>
