<!-- Search Widget -->

@using (Html.BeginForm("Search","Home",FormMethod.Get))
{
    <div class="card border-warning my-4">
        <h5 class="card-header">Ara</h5>
        <div class="card-body">
            <div class="input-group">
                @Html.TextBox("q", null, new { @class = "form-control" })
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Bul!</button>
                </span>
            </div>
        </div>
    </div>

}
